#uos-sia-header .uos-sia-ls-area-body
{
  overflow:hidden;
  background:#678E9B;
}

#uos-sia-header {
  background-color: #678E9B;
}

h1#uos-sia-logo {
  background-image:url(../../images/cb3/logos/navy_shaded_university.gif);
}
