/**
* IE7 specific settings
*
* This file can contain any hacks needed to get the styles working with IE7.uos-sia-
*
*/

.uos-sia-browserIE7 table.uos-sia-webform {
  margin-top: 20px;
}

.uos-sia-browserIE7 textarea, .uos-sia-browserIE7 input.uos-sia-required, .uos-sia-browserIE7 input.uos-sia-validation_none {
  width: 98% !important;
}

.uos-sia-browserIE7 div#uos-sia-youtube_image_list_counter {
	padding-bottom: 15px;
}

.uos-sia-browserIE7 div#uos-sia-youtube_image_description {
		border: Solid 1px White;
}

.uos-sia-browserIE7 .uos-sia-peripheralcontent div.uos-sia-clear {
	padding-bottom:1px;
}
