/**
* Colour specific settings
*
#uos-sia- This file is to contain ONLY the overrides needed to changing the colour of the site,
* so no colours, sizes, fonts or spacings styles
*
* This will mainly be used for the background colours, foreground colours and coloured image backgrounds
*
*
*/
#uos-sia-header {
	border-color: #005355;
}

a:link,a:visited,
div.uos-sia-tags ul li,h2,h3,h4,
div.uos-sia-intro p,
div p.uos-sia-intro,
blockquote p,
p.uos-sia-lead,
table th,
dl.uos-sia-staff dt,
p em,
#uos-sia-content h4,
#uos-sia-content h5, 
#uos-sia-content h6,
ul#uos-sia-breadcrumb li a,
div.uos-sia-peripheralcontent h3,
#uos-sia-container table tr td a,
div .uos-sia-card a,
.uos-sia-ep_citations_item a,
div.uos-sia-featured h3,
div.uos-sia-listing h3,
#uos-sia-webform fieldset legend,
.uos-sia-serif,
div.uos-sia-contactCard h4
{
	color: #005355;
}

/*
 Main Left Navigation
*********************************************************/
#uos-sia-nav li a {
	color: #FFF;
}

#uos-sia-nav li#uos-sia-searchBox, #uos-sia-nav li.uos-sia-home a, #uos-sia-nav li.uos-sia-sotonhome a, input.uos-sia-button {
	background-color: #07A285;
}

#uos-sia-nav li.uos-sia-home a:hover, #uos-sia-nav li a:hover, #uos-sia-nav li.uos-sia-active a, #uos-sia-nav li.uos-sia-inactive a:hover, #uos-sia-nav li.uos-sia-sotonhome a:hover {
	background-color: #005355;
}

#uos-sia-nav li#uos-sia-searchBox button.uos-sia-submit {
	background-image: url(../../images/cb3/nav_teal_search.gif);
}

#uos-sia-nav li#uos-sia-searchBox input.uos-sia-text, #uos-sia-nav li.uos-sia-pages, #uos-sia-nav li.uos-sia-home  {
	border-color: #66AAAC;
}

#uos-sia-nav li.uos-sia-home a {
	background-image: url(../../images/cb3/nav_teal_home.gif);
}

#uos-sia-nav li.uos-sia-home a:hover {
	background-image: url(../../images/cb3/nav_teal_home_over.gif);
}

#uos-sia-nav li li.uos-sia-inactive a {
	/* inactive items and inactive items under active items */
	background-color: #007275;
}

#uos-sia-nav ul ul,#uos-sia-nav li li,#uos-sia-nav li li.uos-sia-active a,#uos-sia-nav li li.uos-sia-active li {
	/* border for all items in the nav */
	border-color: #66AAAC !important;
}

/* University Home Top level Item */
#uos-sia-nav li.uos-sia-sotonhome a {
	background-image: url(../../images/cb3/nav_teal_back.gif);
}

#uos-sia-nav li.uos-sia-sotonhome a:hover {
	background-image: url(../../images/cb3/nav_teal_back_over.gif);
}

/* page list styles */
.uos-sia-pageList ul li, div.uos-sia-featured ul li,#uos-sia-content div.uos-sia-card div.uos-sia-row ul.uos-sia-facts li,.uos-sia-peripheralcontent ul li, div.uos-sia-card div.uos-sia-peripheralcontent ul li,.uos-sia-peripheralcontent div.uos-sia-newsfeed h3,.uos-sia-peripheralcontent h3.uos-sia-flickr   {
  background-color: #C1E8E0;
}

/* tab navigation */
div#uos-sia-content ul.uos-sia-tabs li.uos-sia-active a {
	background: #FFF url(../../images/cb3/bg_tabs_teal.gif) repeat-x;
}

div.uos-sia-peripheralcontent div.uos-sia-feature div.uos-sia-feature-bg {
  background: #FFF url(../../images/cb3/bg_highlightBox_teal.png) no-repeat 0 0;
}

/* profile styles */
.uos-sia-testimonialDetails dl dt, .uos-sia-profileDetails dl dt {
  color: #005355;
}

span.uos-sia-listing 
{
    color: #005355;
}

/* added by cjg */
/* inactive items and inactive items under active items */
#uos-sia-nav li li a { background-color: #007275; }
#uos-sia-nav .menu li { border-color: #66AAAC !important; }
#uos-sia-nav li.active-trail a.active-trail { background-color: #005355; }
